* {
  font-family: 'Nunito Sans', sans-serif;
  font-style:oblique;
}

:root {
  --shadowDark: #D9DDE6;
  --background: #E4E9F2;
  --shadowLight: #EFF5FE;
}

body {
  background: var(--background);
}

.hero-body {
  justify-content: center;
  background-color:	#7F2A3C;
}

.login {
  border-radius: 25px;
  padding: 1.5rem;
  box-shadow: 8px 8px 15px var(--shadowDark), -8px -8px 15px var(--shadowLight);
}

input {
  background: var(--shadowDark) !important;
}

a {
  font-weight: 600;
}

h1 { color: black; font-size: 48px; font-family: 'Signika', sans-serif; padding-bottom: 10px; }
h2 { font-size: 30px; letter-spacing: -1px; color: #b00202; text-transform: uppercase; text-shadow: 1px 1px 0 #000, margin: 10px 0 24px; text-align: center; line-height: 50px; }